.Icon,
.Icon svg {
	color: currentColor;
}
.Icon svg {
	width: 100%;
	height: 100%;
}

.Icon svg path {
	fill: currentColor;
}

svg.fillable .filled {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

[data-ico-state='filled'] svg.fillable .filled {
	opacity: 1;
}

[data-ico-state='filled'] svg.fillable .filled,
[data-ico-state]:hover svg.fillable .filled {
	opacity: 1;
}
