/* load local font Poppins  */
@font-face {
  font-family: 'Poppins';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    src: url('../../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('ttf');
}
