.Header--inner {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 744px; /* 680px + 2 * 32px = 744px */
	margin: 0 auto;
	padding: 12px 32px;
}

.Header--logo {
	display: inline-block;
	max-width: 209px;
}

.visuallyhidden {
	position: absolute;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
	white-space: nowrap;
}
