/*
 * Typography
 */

/*
 * Button
 */
.M-Button-base {
	@apply flex items-center justify-center text-white text-base font-semibold w-full;
}

.M-Button-l {
	@apply pt-4 pb-4 pl-6 pr-6 rounded-lg gap-y-1 gap-x-3;
}
.M-Button-m {
	@apply p-3 rounded-lg gap-y-0 gap-x-2;
}
.M-Button-s {
	@apply p-2 rounded-lg gap-y-0 gap-x-2 text-sm font-semibold;
}
.M-Button-round {
	@apply p-4 rounded-full w-auto;
}

.Button.M-Button-round .Button--inner {
	@apply sr-only;
}

.M-Button-slate {
	@apply bg-slate-700 hover:bg-slate-800;
}
.M-Button-violet {
	@apply bg-violet-600 hover:bg-violet-700;
}
.M-Button-gradient {
	@apply bg-gradient-to-r
		transition-all
		ease-out
		duration-200
		bg-pos-0
		bg-size-200
		from-violet-600
		via-pink-600
		to-violet-700
		hover:bg-pos-100;
}

/*
 * Link
 */

.M-Link-slate {
	@apply text-slate-400 hover:text-slate-600;
}
.M-Link-violet {
	@apply text-violet-600 hover:text-violet-900;
}

/*
 * Form
 */

.M-FormItem-Input {
	@apply text-black text-base bg-slate-100 hover:border-purple-600 focus:border-purple-600 focus:outline-1 focus:outline-purple-600 rounded-lg p-4 border border-solid border-slate-300;
}

.M-FormItem-Input-error {
	@apply border-2 border-solid border-red-700;
}

.M-FormItem-Label {
	@apply text-slate-800 font-semibold text-base;
}
.M-FormItem-Error {
	@apply text-red-700 text-xs font-medium;
}

/*
 * UserProfile - Image Dimensions
 */

.M-size-big img {
	@apply h-40 w-40 border-4 rounded-full bg-slate-100;
}

.M-size-l img {
	@apply h-24 w-24 border-4 rounded-full bg-slate-100;
}

.M-size-m img {
	@apply h-16 w-16 border-4 rounded-full bg-slate-100;
}

.M-size-s img {
	@apply h-10 w-10;
}

/*
 * ContentCard - a mumbel view
 */

/*
 * layout variants
 */

.-variantDetail img {
	position: absolute;
	left: -32px;
}

.-variantTimeline img {
	position: absolute;
	left: -32px;
}

.-variantResponsive {
	display: flex;
	flex-direction: row;
}

/*
* switch
*/

.M-switch-field {
	@apply flex overflow-hidden bg-slate-200 rounded-lg p-1 w-fit;
}

.M-switch-field input {
	@apply absolute overflow-hidden h-0 w-0;
}

.M-switch-field label {
	@apply cursor-pointer bg-slate-200 text-slate-600 text-base font-semibold text-center py-2 px-4 border-slate-600 transition-all ease-in duration-150;
}

.M-switch-field input:checked + label {
	@apply bg-white text-violet-600;
}

.M-switch-field label:first-of-type {
	@apply rounded-tl-md rounded-bl-md;
}

.M-switch-field label:last-of-type {
	@apply rounded-tr-md rounded-br-md;
}
